/* UNIVERSAL STYLING */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: white;
  color: black;
  font-size: 1rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

button {
  font-size: 1rem;
}

/* ------Header------ */

.navbar {
  background-color: beige;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  padding: 0.5rem 1.5rem;
  margin-bottom: 3rem;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
}

.brand img {
  width: 6rem;
}

.primary-nav {
  display: flex;
  flex: 1;
}

.primary-nav ul {
  display: flex;
  gap: 5rem;
}

.primary-nav ul li:last-child a {
  color: red;
}

.actions {
  display: flex;
  gap: 5rem;
}

.actions input {
  padding: 0.2rem 1rem 0.2rem 5rem;
  border: 1px solid rgb(193, 193, 193);
  background-color: beige;
  border-radius: 0.5em;

  font-size: 1em;
}

.actions input::placeholder {
  text-align: end;
}

.actions ul {
  display: flex;
  gap: 3rem;
}

.actions img {
  width: 2.5rem;
}

/*--------------- Main ------------*/
main {
  height: auto;
  margin-bottom: 10em;
}

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
/* Home section */
.home_section {
  position: relative;
  background-image: url("img/homePresentation.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
}

.home_section::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.home_section a {
  font-weight: bold;
  color: white;
  font-size: 2em;
  z-index: 2;
}

/*  Login section */
.login_form {
  width: clamp(320px, 80vw, 600px);
  border: 1px solid rgb(189, 189, 189);
  border-radius: 0.5em;
  padding: 3em;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
}

#email,
#password {
  margin: 0.5em 0 1.5em 0;
  padding: 0.3em;
  font-size: 1em;
  font-weight: bolder;
  border-radius: 0.5em;
}
.login_group {
  font-size: 0.7em;

  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5em;
}
.remember_checkbox {
  display: flex;
  align-items: center;
}

.login_group a {
  text-decoration: underline;
  color: gray;
}

.login_button {
  background-color: black;
  color: white;
  padding: 0.7em;
  font-size: 0.7em;
  border-radius: 0.5em;
  cursor: pointer;
}

.login_form p {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  font-size: 0.7em;
}

.login_form a {
  margin-left: 0.5em;
  text-decoration: underline;
}

/* Checkout section */
.cards {
  display: flex;
  gap: 3em;
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(370px, 40vw, 50em);
  padding: 2em;
}

.card h3 {
  margin-bottom: 1em;
}

.card.card_price {
  max-height: 40em;
}

.price {
  font-size: 1.4rem;
}

.form1,
.form2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1em;
  border: 1px solid lightgray;
  border-radius: 0.5em;
  margin-bottom: 3em;
}

.form1 input,
.form2 input,
.form1 select,
.form2 select {
  padding: 0.5em;
  border-radius: 0.5em;
  margin-bottom: 1em;
}

.form1_group,
.form2_group {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.pay_buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
.pay_buttons button {
  width: 48%;
  padding: 0.3em;
  background-color: white;
  font-size: 1em;
  border-radius: 0.5em;
  cursor: pointer;
}
.pay_buttons button:last-child {
  color: white;
  background-color: black;
}

.select_group {
  display: flex;
  justify-content: space-between;
}

.group {
  display: flex;
  flex-direction: column;
}

#country,
#city,
#zipcode {
  padding: 0.5em 1.5em;
}

.form1_group :first-child {
  display: flex;
  justify-content: space-between;
}

.form1_group :first-child div {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.save_information {
  display: flex;
}
.save_information input {
  margin: 0 0.5em;
}

.paypal img {
  width: 2em;
}

#submit_button {
  padding: 0.3em;
  background-color: black;
  color: white;
  font-size: 1em;
  border-radius: 0.5em;
  cursor: pointer;
}

.cart_scroll {
  overflow-y: auto;
  max-height: 33em;
  border: 1px solid lightgray;
  border-radius: 0.5em;
  padding: 2em 0.2em;
}

.cart_scroll :last-child {
  border-bottom: none;
}

.cart_item {
  display: grid;
  grid-template-columns: 6rem 1fr auto;
  border-bottom: 1px solid lightgray;
  padding: 1rem 0.5rem;
  margin-bottom: 1rem;

  gap: 4rem;
}
/* .cart_item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding: 1em;
  height: 7em;
} */
.cart_item_img {
  width: 6em;
  height: 100%;
}
.cart_item_details {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-right: 5em;
}

.cart_item_quantity {
  border: 1px solid lightgray;
  border-radius: 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 7em;
  padding: 0.2em 0.5em;
}

.cart_item_quantity button {
  font-size: 1em;
  cursor: pointer;
  background-color: white;
  border: none;
  font-weight: bold;
}

.total_price {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 2em;
  border-top: 2px solid gray;
  padding: 1em 0 0 0;
}

/* ------Shop-------- */

.shop_section {
  width: 100%;
  padding: 2em 3em 1em;
}

.shop_section h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 2em;
}

.shop_container {
  display: flex;
  flex-flow: row wrap;
}

.filter {
  flex-basis: auto;
  flex-grow: 1;
}

.products {
  flex-grow: 6;
  flex-basis: 0%;
}

.pagination {
  flex-basis: 100%;
}

.pagination ul {
  display: flex;
  justify-content: center;
}

.filter h3 {
  margin-bottom: 1em;
}

.filter_group {
  margin-bottom: 1.2em;
}

.filter_header {
  display: flex;

  justify-content: space-between;
  font-weight: bold;
  cursor: pointer;
}

.filter_content label {
  font-size: 0.9em;
  display: flex;
  align-items: center;
  margin: 0.4em 0 0 1em;
  gap: 0.5em;
  color: gray;
}

.apply_button {
  margin-top: 1.5em;
  width: 100%;
  padding: 0.6em;
  color: white;
  background: black;
  border-radius: 0.5em;
  border: none;
  cursor: pointer;
}

/* Newsletter */

.newsletter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  padding: 3em 15em;
  margin-bottom: 3em;
  background-color: beige;
}

.newsletter h2 {
  max-width: 500px;
}

.newsletter form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  max-width: 420px;
}

.newsletter form > input,
.newsletter form > button {
  padding: 0.7em 1em;
  width: 100%;
}
.newsletter form > input::placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter form > button {
  cursor: pointer;

  color: white;
  font-weight: bolder;
  background-color: black;
  border-radius: 0.7em;
}

/* ----Products -------- */

.products_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-bottom: 1px solid lightgray;
  gap: 2em;
  padding: 2em;
  margin-bottom: 2em;
}

.product_card {
  display: flex;
  flex-direction: column;
  padding: 1em;
  border: 1px solid lightgrey;
  border-radius: 10px;
  border-top: none;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}

.product_card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.5em;
}
.product_card h4 {
  font-size: 0.9em;
  margin: 0.8em 0 0.3em;
}

.product_card span {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.8em;
}

.product_card button {
  margin-top: auto;
  padding: 0.4em;
  border-radius: 0.5em;
  background: white;
  border: 1px solid lightgray;
  cursor: pointer;
}

/* Pagination */

.pagination ul {
  display: flex;
  gap: 1em;
}

.pagination ul li {
  padding: 0.3em 0.8em;
  border: 1px solid lightgray;
  cursor: pointer;
  border-radius: 0.3em;
  font-weight: bolder;
}

/* ------------------------FOOTER------------------- */

#footer {
  padding: 2em 2em;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  gap: 2rem;
}

.footer_wrap {
  width: 100%;
  display: grid;
}

.footer1 {
  width: 100%;
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 0.5rem;
}

.footer2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links h4 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.links li {
  color: grey;
  margin-bottom: 0.5rem;
}

.footer2 ul {
  display: flex;
  gap: 1.5rem;
}

.footer-wrap img {
  width: 1.5em;
}

/* ANIMATIONS */

@keyframes colorChange {
  0% {
    color: red;
  }
  25% {
    color: blue;
  }
  50% {
    color: green;
  }
  75% {
    color: purple;
  }
  100% {
    color: red;
  }
}

@keyframes sizeChange {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

/* ---------------------- MEDIA QUERIES ---------------- */

/*--------- HEEADER ------------------------ */

/*------------------------ MOBILE--------------------  */
@media (max-width: 768px) {
  /* HEADER */

  #header {
    gap: 0.5em;
    padding: 2em;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  button {
    font-size: 1.2rem;
  }

  .actions input,
  .primary-nav {
    display: none;
  }

  /* SHOP PAGE */

  .filter {
    font-size: 1.4rem;
  }

  .products {
    font-size: 1.6rem;
  }

  .shop_container {
    flex-direction: column;
  }

  .filter {
    width: 100%;
  }
  .products_container {
    grid-template-columns: 1fr;
  }

  .shop_container {
    padding: 0 1em;
  }

  .newsletter {
    flex-direction: column;
    text-align: center;
    padding: 2em 1.5em;
  }

  .newsletter h2 {
    max-width: 100%;
  }

  .newsletter form {
    max-width: 100%;
  }

  .pagination ul li {
    padding: 0.2em 0.3em;
  }
  /* Checkout */
  .cards {
    flex-direction: column;
    gap: 2em;
  }

  .card {
    width: 100%;
  }

  /* footer */
  .footer1 {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* ---------------------TABLET---------------------- */
@media (min-width: 768px) and (max-width: 1024px) {
  /* HEADER */

  #header {
    gap: 0.5em;
    padding: 2em;
  }

  button {
    font-size: 1.4rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .filter {
    font-size: 1.4rem;
  }

  .actions input,
  .primary-nav {
    display: none;
  }

  /* FOOTER */
  h3 {
    font-size: 1.5rem;
  }

  /* SHOP PAGE */
  .shop_container {
    flex-direction: column;
  }

  .filter {
    width: 100%;
  }
  .products_container {
    grid-template-columns: repeat(2, 1fr);
  }

  .shop_container {
    padding: 0 1em;
  }

  .newsletter {
    flex-direction: column;
    text-align: center;
    padding: 2em 1.5em;
  }

  .newsletter h2 {
    max-width: 100%;
  }

  .newsletter form {
    max-width: 100%;
  }

  .pagination ul li {
    padding: 0.2em 0.3em;
  }
  /* Checkout */
  .cards {
    flex-direction: column;
    gap: 2em;
  }

  .card {
    width: 100%;
  }
  /* footer */
  .footer1 {
    grid-template-columns: repeat(2, 1fr);
  }
}
